<!DOCTYPE html>
<html lang="en" data-route="<%= locals.route %>">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <%- include("../partials/header.ejs") %>
    <%- body %>
    <%- include("../partials/footer.ejs") %>
    <script defer>
        document.querySelectorAll('.fill-browser-height').forEach(el => {
            stretchToBrowserHeight(el)
            window.addEventListener('resize', () => {
                stretchToBrowserHeight(el)
            })
        })
    </script>
</body>

</html>
