<body class="h-screen">
    <%
        function shortenText(text) {
            if (text.length > 60) {
                return text.slice(0,60).split(' ').slice(0,-1).join(' ') + '...'
            }
            return text
        }
    %>
    <div id="mainWrapper" class="flex flex-col items-center p-10 wrapper gap-y-10">
        <div class="flex items-center w-full p-2 gap-x-10">
            <div class="relative flex items-center px-3 py-2 bg-white rounded-lg shadow-md cursor-pointer gap-x-3">
                <select id="ratingSelect" class="pr-3 text-lg font-semibold text-center text-gray-700 outline-none cursor-pointer">
                    <option value="default">Rating</option>
                    <option value="1">1 star</option>
                    <option value="2">2 stars</option>
                    <option value="3">3 stars</option>
                    <option value="4">4 stars</option>
                    <option value="5">5 stars</option>
                </select>

                <div class="absolute right-0 p-1 bg-white pointer-events-none">
                    <%- include('./partials/carret-down.ejs') %>
                </div>
            </div>
            <div class="flex items-center mr-6 text-lg font-semibold text-gray-700 gap-x-4">
                Shared with me
                <div id="sharedWithMeToggle" class="flex items-center w-12 transition-colors bg-gray-400 cursor-pointer toggle rounded-2xl" style="padding: 2px;">
                    <div class="w-5 h-5 transition-transform duration-300 ease-in-out bg-white rounded-full">
                    </div>
                </div>
            </div>

            <div class="flex flex-1 rounded-lg shadow-md">
                <input id="searchInp" type="text" class="flex-1 px-5 py-2 text-lg font-semibold text-gray-700 outline-none focus:border-gray-600" placeholder="Search quizzes" style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                <button id="searchBtn" class="px-5 bg-gray-600 rounded-l-none button-filled" style="border-top-right-radius: 8px; border-bottom-right-radius: 8px;">Search</button>
            </div>
        </div>

        <div id="quizWrapper" class="grid w-full grid-cols-4 gap-10">

            <% quizzes.forEach(quiz => { %>

            <div data-id="<%= quiz._id %>" data-keywords="<%= quiz.keywords.join(' ') %>" class="flex flex-col h-64 bg-white shadow-lg quiz rounded-2xl">
                <div class="bg-center bg-no-repeat bg-cover h-2/5" style="border-top-left-radius: 16px; border-top-right-radius: 16px; background-image: url('<%= quiz.imageEncoded %>');">
                </div>
                <div class="flex flex-col justify-between flex-1 p-3 pt-2">
                    <div class="text-xl font-semibold text-gray-700 quiz-title">
                        <%= shortenText(quiz.title) %>
                    </div>
                    <div class="text-xs font-medium text-gray-500 break-words quiz-description">
                        <%= shortenText(quiz.description) %>
                    </div>
                    <div class="w-full">
                        <a href="/quiz/play/<%= quiz._id %>" class="w-full py-0.5 button-filled bg-primary">Play</a>
                    </div>
                </div>
            </div>

            <% }) %>
        </div>
        <div class="hidden mb-10 border-gray-300 loader border-t-primary"></div>

        <div id="bottomSection" class="w-full">

            <div id="loadMore" class="w-full">
                <div class="w-full border-t-2 border-gray-400 border-dashed mb-7"></div>
                <button id="loadMoreBtn" class="block px-20 py-1 mx-auto button-filled bg-secondary">Load
                    more</button>
            </div>

            <div id="endMessage" class="hidden w-full pt-5 text-xl font-semibold text-center text-gray-500 border-t-2 border-gray-400 border-dashed">
                You've reached the end</div>

        </div>

    </div>
    <script src="/scripts/attend.js"></script>
</body>
