<body class="h-screen bg-gray-200">
    <script src="/scripts/dashboard.js" defer></script>
    <%
        function shortenText(text) {
            if (text.length > 45) {
                return text.slice(0,45).split(' ').slice(0,-1).join(' ') + '...'
            }
            return text
        }
    %>
    <section class="my-10">
        <div class="flex pb-10 wrapper gap-x-12">
            <!-- Profile board -->
            <div class="flex flex-col items-center justify-between p-4 bg-white rounded-lg shadow-md w-72 h-96">
                <div class="w-full">
                    <div class="flex items-center justify-between w-full">
                        <div class="flex-shrink-0 w-16 h-16 bg-gray-600 bg-center bg-cover rounded-full" style="background-image: url('<%= profileInfo.profileImageEncoded || `/assets/images/defaultProfileImage.jpg` %>')"></div>
                        <div class="text-lg font-bold text-center text-gray-500">
                            <%= profileInfo.name %>
                        </div>
                        <a href="/settings">
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-500 transition-colors cursor-pointer h-9 w-9 hover:text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </a>
                    </div>
                    <div class="w-full h-0.5 bg-yellow-200 mt-5 rounded-full"></div>
                </div>
                <div class="flex flex-col justify-center flex-1 w-full gap-y-5">
                    <div>
                        <div class="flex justify-between w-full">
                            <div class="text-lg font-semibold text-secondary">Quizzes attended:</div>
                            <div class="text-lg font-semibold text-primary">
                                <%= profileInfo.quizzesAttended %>
                            </div>
                        </div>
                        <div class="w-full h-0.5 bg-gray-500"></div>
                    </div>

                    <div>
                        <div class="flex justify-between w-full">
                            <div class="text-lg font-semibold text-secondary">Quizzes made:</div>
                            <div class="text-lg font-semibold text-primary">
                                <%= profileInfo.quizzesMade %>
                            </div>
                        </div>
                        <div class="w-full h-0.5 bg-gray-500"></div>
                    </div>

                    <div>
                        <div class="flex justify-between w-full">
                            <div class="text-lg font-semibold text-secondary">Overall score:</div>
                            <div class="text-lg font-semibold text-primary">
                                <%= profileInfo.overallScore === 'N/A' ? profileInfo.overallScore : profileInfo.overallScore + '%' %>
                            </div>
                        </div>
                        <div class="w-full h-0.5 bg-gray-500"></div>
                    </div>

                </div>
                <div class="w-full">
                    <div class="w-full h-0.5 bg-yellow-200 mb-5 rounded-full"></div>
                    <a href="/friends" class="w-full py-0.5 text-gray-600 border-gray-600 button-outline-live">Friends</a>
                </div>
            </div>

            <div class="flex flex-col flex-1 gap-y-12">
                <div class="flex w-full shadow-md">
                    <input id="searchInp" type="text" class="flex-1 px-5 py-2 text-xl font-medium text-gray-700 border-2 border-white outline-none focus:border-gray-600" placeholder="Search quizzes" style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                    <button id="searchBtn" class="px-5 text-white bg-gray-600 rounded-l-none button-filled" style="border-top-right-radius: 8px; border-bottom-right-radius: 8px;">Search</button>
                </div>
                <% if (quizzes.length) { %>

                <div class="grid w-full grid-cols-3 gap-10">

                    <% quizzes.forEach(quiz => { %>

                    <div data-id="<%= quiz._id %>" data-keywords="<%= quiz.keywords.join(' ') %>" class="flex flex-col h-64 bg-white quiz rounded-2xl" style="box-shadow: 0 0 7px 2px rgba(0,0,0,0.2);">
                        <div class="bg-center bg-no-repeat bg-cover h-2/5" style="border-top-left-radius: 16px; border-top-right-radius: 16px; background-image: url('<%= quiz.imageEncoded %>');"></div>
                        <div class="flex flex-col justify-between flex-1 p-3 pt-2">
                            <div class="text-xl font-semibold text-gray-700 quiz-title">
                                <%= quiz.title %>
                            </div>
                            <div class="text-xs font-medium text-gray-500 break-words quiz-description">
                                <%= shortenText(quiz.description) %>
                            </div>
                            <div class="flex justify-between w-full gap-x-2">
                                <button data-quiz-id="<%= quiz._id %>" class="shareBtn flex-1 text-white button-filled bg-primary py-0.5">Share quiz</button>
                                <button class="relative quizMenuBtn">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600 transition-colors rounded-lg cursor-pointer hover:bg-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                                    </svg>
                                    <div class="absolute flex-col hidden mr-1 overflow-hidden text-white bg-gray-600 border-2 border-gray-700 rounded-lg quiz-menu bottom-full -mb-7 right-full " style="box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);">
                                        <div class="py-1 pl-3 text-sm font-medium text-left text-white transition-colors editBtn hover:bg-gray-700">Edit</div>
                                        <div class="w-full bg-gray-800 h-0.5"></div>
                                        <div class="px-3 py-1 text-sm font-medium text-left text-white transition-colors bg-red-500 deleteBtn hover:bg-red-600">Delete</div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>

                    <% }) %>
                </div>

                <% } else { %>
                <div class="grid flex-1 text-xl font-semibold text-center text-gray-500 bg-gray-300 border-2 border-gray-600 rounded-lg place-items-center">You haven't made any quizzes yet</div>
                <% } %>

            </div>
        </div>

        <div id="shareContainer" class="absolute top-0 left-0 grid hidden w-screen h-screen bg-black bg-opacity-40 place-items-center">
            <div id="shareDiv" class="flex flex-col items-center w-1/2 p-6 bg-gray-200 shadow-2xl h-3/5 rounded-xl gap-y-10">
                <div class="flex justify-between w-full gap-x-16">
                    <input id="friendSearchInp" type="text" class="flex-1 px-3 py-1 text-lg font-semibold text-gray-600 bg-white shadow-md outline-none rounded-xl" placeholder="Search">
                    <button id="shareBtn" class="button-filled bg-primary">Share</button>
                </div>
                <div class="grid flex-1 w-full grid-cols-3 grid-rows-6 gap-5 p-4 overflow-auto bg-white shadow-md rounded-xl">

                    <% friends.forEach(({id, name}) => { %>
                    <div class="flex items-center justify-center w-full px-2 py-1 bg-gray-200 rounded-md shadow-sm cursor-pointer friendOption">
                        <input type="checkbox" id="<%= id %>" class="appearance-none friendOptionInput peer">
                        <div class="w-4 h-4 border border-gray-600 rounded-sm peer-checked:bg-gray-600"></div>
                        <label for="<%= id %>" class="ml-4 font-medium text-gray-600 cursor-pointer friendOptionLabel"><%= name %></label>
                    </div>
                    <% }) %>
                </div>
            </div>
            <script>
                document.querySelectorAll('label.friendOptionLabel')
                    .forEach(label => {
                        label.addEventListener('click', e => e.preventDefault())
                    })

                document.querySelectorAll('.friendOption')
                    .forEach(el => {
                        el.addEventListener('mouseup', () => {
                            el.querySelector('input').checked = !el.querySelector('input').checked
                        })
                    })
            </script>
        </div>
    </section>
</body>
