<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <% quiz.questions.forEach(question => {
            question.answer = undefined
    }) %>
    <script>
        const quizId = <%- JSON.stringify(quiz._id) %>
        const questions = <%- JSON.stringify(quiz.questions) %>
    </script>
    <script src="/scripts/playQuiz.js" defer></script>
</head>

<body class="h-screen bg-gray-200 bg-center bg-no-repeat bg-cover" style="background-image: linear-gradient(rgba(229, 231, 235, 0.8), rgba(229, 231, 235, 0.8)), url('<%= quiz.imageEncoded %>');">
    <header class="w-full px-3 py-4 bg-white md:px-8 drop-shadow-md">
        <div class="flex items-center justify-between wrapper">
            <div class="flex flex-col" style="min-width: 50%; max-width: 80%;">
                <h1 class="overflow-hidden font-semibold md:text-2xl text-md text-primary">
                    <%= quiz.title %>
                </h1>
                <p class="text-xs text-gray-600">Made By
                    <%= creatorName %>
                </p>
            </div>
            <div class="flex items-center gap-x-7">

                <a href="/quiz/report/<%= quiz._id %>" class="text-red-500 button">Report
                    Quiz</a>
                <button id="cancelBtn" class="bg-red-500 button-filled">Cancel</button>
            </div>
        </div>
    </header>
    <main class="flex items-center fill-browser-height">
        <div class="flex items-center w-full h-full wrapper">
            <div class="flex flex-col items-center w-full h-full px-3 pt-8 md:px-32">
                <div class="flex flex-col w-full h-full p-4 bg-white rounded-lg" style="box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);">
                    <div class="flex items-center justify-between w-full gap-x-5">
                        <div id="questionTitle" class="mt-1 text-2xl font-semibold text-gray-700" style="max-width: 80%;">One plus one is equal to 2</div>
                        <button id="skipQuestionBtn" class="bg-yellow-500 button-filled">Skip
                            Question</button>
                    </div>
                    <div class="w-full h-0.5 bg-primary my-4"></div>
                    <div id="questionBoard" class="h-full">

                    </div>
                </div>

                <div class="flex mt-8 bg-white h-28 gap-x-2" style="border-top-right-radius: 12px; border-top-left-radius: 12px; box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);">
                    <div id="questionsList" class="flex items-center p-2 overflow-x-auto gap-x-2" style="max-width: 70vw;">
                        <% quiz.questions.forEach((question, i) => { %>
                        <div data-index="<%= i %>" class="flex items-center h-full px-3 text-2xl font-bold text-white transition-colors bg-gray-500 rounded-md cursor-default question-button">
                            <%= i+1 %>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <div id="scoreWrapper" class="absolute top-0 left-0 grid hidden w-screen h-screen bg-black bg-opacity-50 place-items-center">
            <div class="flex flex-col items-center justify-around px-20 py-5 bg-white wrapper h-3/4 rounded-xl gap-y-2">
                <svg class="mb-2" height="150" width="150" style="transform: rotate(-90deg);">
                    <circle id="progressRing" class=" stroke-primary" stroke="blue" stroke-width="10" fill="transparent" r="65" cx="75" cy="75" style="stroke-dasharray: calc(65 * 3.14 * 2) calc(65 * 3.14 * 2); stroke-dashoffset: calc(65 * 3.14 * 2); stroke-linecap: round; transition: all 1s ease-in-out;" />
                </svg>
                <div class="-mt-10 text-4xl font-semibold text-gray-600">You scored <span id="scoreNumDiv" class="font-bold text-primary">76%</span> </div>
                <div class="text-lg text-gray-500 font-regular">Rate this quiz</div>
                <div id="rating" class="flex -mt-12 gap-x-1">
                    <%- include('./partials/star.ejs') %>
                    <%- include('./partials/star.ejs') %>
                    <%- include('./partials/star.ejs') %>
                    <%- include('./partials/star.ejs') %>
                    <%- include('./partials/star.ejs') %>
                </div>
                <button id="returnHomeBtn" class="px-10 button-filled bg-secondary">Return home</button>
            </div>
        </div>
    </main>
    <script>
            document.querySelectorAll(".fill-browser-height").forEach(el => {
                stretchToBrowserHeight(el)
                window.addEventListener("resize", () => {
                    stretchToBrowserHeight(el)
                })
            })
    </script>
</body>

</html>
