<body class="bg-gray-200">
    <%
        function shortenText(text) {
            if (text.length > 45) {
                return text.slice(0,45).split(' ').slice(0,-1).join(' ') + '...'
            }
            return text
        }
    %>
    <section class="my-10">
        <div class="flex pb-10 wrapper gap-x-12">
            <!-- Profile board -->
            <div class="flex flex-col items-center justify-between p-4 bg-white rounded-lg shadow-md w-72 h-96">
                <div class="w-full">
                    <div class="flex items-center justify-between w-full">
                        <div class="flex-shrink-0 w-16 h-16 bg-gray-600 bg-center bg-cover rounded-full" style="background-image: url('<%= profileInfo.profileImageEncoded || `/assets/images/defaultProfileImage.jpg` %>')">
                        </div>
                        <div class="flex-1 text-lg font-bold text-center text-gray-500">
                            <%= profileInfo.name %>
                        </div>
                    </div>
                    <div class="w-full h-0.5 bg-yellow-200 mt-5 rounded-full"></div>
                </div>
                <div class="flex flex-col justify-center flex-1 w-full gap-y-5">
                    <div>
                        <div class="flex justify-between w-full">
                            <div class="text-lg font-semibold text-secondary">Quizzes attended:</div>
                            <div class="text-lg font-semibold text-primary">
                                <%= profileInfo.showStats ? profileInfo.quizzesAttended : 0 %>
                            </div>
                        </div>
                        <div class="w-full h-0.5 bg-gray-500"></div>
                    </div>

                    <div>
                        <div class="flex justify-between w-full">
                            <div class="text-lg font-semibold text-secondary">Quizzes made:</div>
                            <div class="text-lg font-semibold text-primary">
                                <%= profileInfo.showQuizzes ? quizzes.length : 0 %>
                            </div>
                        </div>
                        <div class="w-full h-0.5 bg-gray-500"></div>
                    </div>

                    <div>
                        <div class="flex justify-between w-full">
                            <div class="text-lg font-semibold text-secondary">Overall score:</div>
                            <div class="text-lg font-semibold text-primary">
                                <%= !profileInfo.showStats ? 'N/A' : profileInfo.overallScore === 'N/A' ? profileInfo.overallScore : profileInfo.overallScore + '%' %>
                            </div>
                        </div>
                        <div class="w-full h-0.5 bg-gray-500"></div>
                    </div>

                </div>
                <div class="w-full">
                    <div class="w-full h-0.5 bg-yellow-200 mb-5 rounded-full"></div>
                </div>
            </div>

            <div class="flex flex-col flex-1 gap-y-12">
                <% if (quizzes.length) { %>

                <div class="grid w-full grid-cols-3 gap-10">

                    <% quizzes.forEach(quiz => { %>

                    <div class="flex flex-col h-64 bg-white shadow-lg quiz rounded-2xl">
                        <div class="bg-center bg-no-repeat bg-cover h-2/5" style="border-top-left-radius: 16px; border-top-right-radius: 16px; background-image: url('<%= quiz.imageEncoded %>');">
                        </div>
                        <div class="flex flex-col justify-between flex-1 p-3 pt-2">
                            <div class="text-xl font-semibold text-gray-700 quiz-title">
                                <%= shortenText(quiz.title) %>
                            </div>
                            <div class="text-xs font-medium text-gray-500 break-words quiz-description">
                                <%= shortenText(quiz.description) %>
                            </div>
                            <div class="w-full">
                                <a href="/quiz/play/<%= quiz._id %>" class="flex-1 block w-full text-lg font-semibold text-center text-white transition-opacity rounded-lg bg-primary hover:opacity-90">Play</a>
                            </div>
                        </div>
                    </div>

                    <% }) %>
                </div>

                <% } else { %>
                <div class="grid flex-1 text-xl font-semibold text-center text-gray-500 bg-gray-300 border-2 border-gray-600 rounded-lg place-items-center">
                    This user doesn't have any quizzes yet</div>
                <% } %>

            </div>
        </div>
    </section>
</body>
